[submodule "vendor/plugins/acts_as_category"]
  path = vendor/plugins/acts_as_category
	url = git://github.com/scotty/acts_as_category.git 
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "vendor/plugins/workflow"]
	path = vendor/plugins/workflow
	url = git://github.com/ryan-allen/workflow.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/upload_progress"]
	path = vendor/plugins/upload_progress
	url = git://github.com/rails/upload_progress.git
[submodule "vendor/plugins/restful_acl"]
	path = vendor/plugins/restful_acl
	url = git://github.com/mdarby/restful_acl.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/mattetti/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/haml"]
	path = vendor/plugins/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/acts_as_list"]
  path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/salty_slugs"]
  path = vendor/plugins/salty_slugs
	url = git://github.com/norbauer/salty_slugs.git
[submodule "vendor/plugins/exception_notification"]
  path = vendor/plugins/exception_notification
	url = git://github.com/rails/exception_notification.git
