body, html
  :background #000000
  :font-family arial, helvetica, verdana, sans-serif
  :font-size 80%
  :text-align center
#headwrap
  :background #ffffff url(../images/background-header.gif) 0px 70px repeat-x
  
#wrap, #header
  :background #ffffff
  :width 960px
  :margin 0 auto
  :text-align left
  
#header
  :background #ffffff url(../images/background-header.gif) repeat-x

#global-navigation
  :position absolute
  :font-size 120%
  :top 13px
  :right 50px
  ul
    li
      :float left
      :padding 1.2em 1.2em 1.2em 0
      a
        :color #fff
        :text-decoration none
        :border-right solid 1px #fff
        :padding-right 1.2em
      a:hover
        :text-decoration underline
#content
  :clear both

#footer
  :clear both
  :border-top solid #000 5px
  :background #e5e5e5
  .gutter
    :padding 16px
    :text-align center
    :line-height 1.5em
    p
      :margin-bottom 1em
      :color #646464