html, body {
  background: #074707;
  color: #333;
  text-align: center;
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 12px; }

.flash-notice, .flash-error {
  clear: both;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.3333em;
  margin-bottom: 0.6868em;
  text-align: center;
  color: #fff; }

.flash-notice {
  background: #3EA99F;
  border: solid 1px #307D7E; }

.flash-error {
  background: #F88017;
  border: solid 1px #F87217; }

input, textarea {
  font-size: 1em;
  padding: 1px;
  border: solid 1px #4c4c4c; }

label {
  font-size: .9em;
  font-weight: bold;
  display: block; }

label.checkbox {
  display: inline; }

.submit {
  margin-top: .5em; }

#wrap {
  background: #f5fdf5;
  border: solid 1px #000;
  font-size: 1em;
  line-height: 1.75em;
  margin: 1.75em auto;
  padding: 1.75em;
  width: 60em;
  text-align: left; }
  #wrap h1 {
    line-height: 1.6363em;
    font-size: 1.8333em;
    font-weight: bold; }
  #wrap h2, #wrap caption {
    line-height: 1.3333em;
    font-size: 1.5em;
    margin: 1em 0 0.3333em 0;
    font-weight: bold; }
  #wrap h3 {
    line-height: 1.2857em;
    font-size: 1.1667em;
    margin: 1em 0 0.2857em 0;
    font-weight: bold; }
  #wrap #header .user-navigation {
    float: right;
    font-size: 0.83em;
    color: #444; }
    #wrap #header .user-navigation a {
      color: inherit;
      text-decoration: none; }
    #wrap #header .user-navigation a:hover {
      text-decoration: underline; }
  #wrap #navigation {
    clear: both; }
    #wrap #navigation ul {
      background: #EAFAEA;
      border-bottom: solid 1px #BBE7BB;
      height: 2.45em;
      display: block; }
      #wrap #navigation ul li {
        display: inline; }
        #wrap #navigation ul li a {
          background: #EAFAEA;
          color: #000;
          display: block;
          float: left;
          font-size: 1em;
          padding: 0.33em 1.33em;
          text-decoration: none; }
        #wrap #navigation ul li a:hover {
          background: #BBE7BB; }
  #wrap #content {
    clear: both; }
    #wrap #content .subnavigation ul {
      background: #aad6aa;
      padding: 0.1em; }
      #wrap #content .subnavigation ul li {
        display: inline; }
        #wrap #content .subnavigation ul li a {
          color: #333;
          padding: 0.33em 1.33em;
          text-decoration: none; }
        #wrap #content .subnavigation ul li a:hover {
          background: #EAFAEA; }
    #wrap #content .sortable-categories ul {
      display: block;
      padding-left: 1em;
      list-style-type: disc; }
      #wrap #content .sortable-categories ul li {
        display: block; }
    #wrap #content .pagination {
      text-align: center;
      font-size: 90%; }
      #wrap #content .pagination .disabled {
        display: none; }
    #wrap #content .updated {
      font-size: 80%;
      color: #999;
      font-style: oblique; }
  #wrap #footer {
    text-align: center;
    font-size: 0.83em;
    margin-top: 1.6363em; }

table {
  border-collapse: collapse;
  width: 100%; }
  table caption {
    font-weight: bold; }
  table th {
    background-color: #219B21;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px 2px 4px; }
  table th.center {
    text-align: center; }
  table tr.even {
    background: #ffe;
    border-bottom: dotted 1px #cdcdcd; }
  table tr.today {
    font-weight: bold;
    background: #fff861; }
  table tr:hover {
    background: #EAFAEA; }
  table td {
    border-bottom: dotted 1px #cdcdcd;
    padding: 4px; }
  table td.column {
    border-left: solid 1px #cdcdcd;
    border-right: solid 1px #cdcdcd; }
  table td.image {
    width: 90px; }
    table td.image img {
      border: solid 1px #999; }
  table td.center, table th.published {
    text-align: center; }
  table td.sku {
    width: 140px; }
  table td.actions, table th.actions {
    width: 12em;
    text-align: center; }
  table td.money, table th.money {
    text-align: right;
    width: 90px; }
  table td.right {
    text-align: right; }
  table td ul li {
    margin-left: 1em;
    padding: 2px; }

.clear {
  clear: both; }

#sortable_categories_0 li, ul#list li {
  background: #ffe;
  border-top: dotted 1px #cdcdcd;
  padding: 4px; }
#sortable_categories_0 li:hover, ul#list li:hover {
  background: #EAFAEA; }
#sortable_categories_0 ul li, ul#list ul li {
  border: none; }
#sortable_categories_0 img, ul#list img {
  border: solid 1px #333; }
#sortable_categories_0 .text, ul#list .text {
  position: absolute;
  left: 76px;
  top: 0px; }
