/* ============================================================================
	GLOBAL 																																	 
============================================================================*/
body { 
	font-family: arial, helvetica, verdana, sans-serif;
	font-size: small;
	padding: 0;
	margin: 0;
}
a {
  background-color: #fff;
  color: #4080bf;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 100%;
}
/* ============================================================================
	LAYOUT 																																	 
============================================================================*/
#wrap {
	min-width: 740px;
	max-width: 960px;
  margin: 0 auto;
}
#header {
  height: 82px;
}
#content {
  margin-top: 6px;
	float: left;
	width: 70%;
	font-size: 90%;
	line-height: 1.5em;
}
#content-onecolumn {
	margin-top: 6px;
	float: left;
	width: 100%;
	font-size: 90%;
}
#sidebar {
  margin-top: 6px;
	float: right;
	width: 29%;
}
#footer {
	clear: both;
	padding: 0 48px;
}

#content .gutter {
	padding: 5px 15px;
	margin-left: 5px;
}
#content-onecolumn .gutter {
	padding: 5px 15px;
	margin-left: 5px;

}
#sidebar .gutter {
	padding: 5px;
}

/* ============================================================================
	MAIN BLOCK DESIGN 																																	 
============================================================================*/
body {
  background: #ffffff url('../images/stripe.png') top center repeat-x;
}
#header {
  background-color: #4080bf;
  background: #4080bf url('../images/headerbar-photos.jpg') top right no-repeat;
  color: inherit;
}
#content {
  border-right: solid 1px #999;
}
#footer {
  background-color: inherit;
  color: #aaa;
	font-size: 80%;
	text-align: center;
}

/* ============================================================================
	NAVIGATION 																																	 
============================================================================*/
#nav {
  border-bottom: solid 1px #4080bf;
	margin: 0;
  padding:  6px 0;
	list-style: none;
	text-align: center;
}
#nav li {
  display: inline;
	margin: 0;
	padding: 0;
	font-size: 85%;
}
#nav a {
  padding: 2px 5px 2px 2px;
	text-decoration: none;
	border-right: solid 1px #4080bf;
}
#nav a:hover {
  background-color: #fff;
	color: #111;
}

#side_nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
#side_nav li {
  font-weight:  bold;
  line-height:  2.2em;
}
#side_nav a {
  text-decoration:  none;
}
#side_nav a:hover {
  background-color: #fff;
  color: #111;
}
.breadcrumb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4080BF;