.clear {
  clear: both; }

body, html {
  background: #000000;
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 80%;
  text-align: center; }

#headwrap {
  background: #ffffff url(../images/background-header.gif) 0px 70px repeat-x; }

#wrap, #header {
  background: #ffffff;
  width: 960px;
  margin: 0 auto;
  text-align: left; }

#header {
  background: #ffffff url(../images/background-header.gif) repeat-x; }

#global-navigation {
  position: absolute;
  font-size: 120%;
  top: 13px;
  right: 50px; }
  #global-navigation ul li {
    float: left;
    padding: 1.2em 1.2em 1.2em 0; }
    #global-navigation ul li a {
      color: #fff;
      text-decoration: none;
      border-right: solid 1px #fff;
      padding-right: 1.2em; }
    #global-navigation ul li a:hover {
      text-decoration: underline; }

#navigation .mirrors {
  background: #e4dac4;
  float: left; }
#navigation .lighting {
  background: #c5c7ce;
  float: right; }
#navigation .mirrors, #navigation .lighting {
  width: 478px;
  text-align: center;
  font-size: 120%; }
  #navigation .mirrors ul.gutter, #navigation .lighting ul.gutter {
    padding: 12px; }
    #navigation .mirrors ul.gutter li, #navigation .lighting ul.gutter li {
      display: inline;
      border-right: solid 1px #000;
      padding-right: 1.2em;
      padding-left: 1.2em; }
      #navigation .mirrors ul.gutter li a, #navigation .lighting ul.gutter li a {
        color: #000;
        text-decoration: none; }
      #navigation .mirrors ul.gutter li a:hover, #navigation .lighting ul.gutter li a:hover {
        text-decoration: underline; }
    #navigation .mirrors ul.gutter li.last, #navigation .lighting ul.gutter li.last {
      border-right: none; }

#breadcrumb {
  clear: both;
  margin: 0 18px 36px 18px;
  padding: 18px 0 6px 0;
  border-bottom: solid 2px #000; }
  #breadcrumb a {
    text-decoration: none;
    color: #333; }
  #breadcrumb a.current {
    font-weight: bold; }
  #breadcrumb a:hover {
    text-decoration: underline; }
  #breadcrumb .print {
    position: absolute;
    right: 72px;
    background: transparent url('../images/print.gif') 0 50% no-repeat;
    padding-left: 12px; }

#content {
  clear: both; }

#content-onecolumn {
  position: relative; }

.category-description {
  background: #f1ece2;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  padding: 24px 36px; }
  .category-description h1 {
    font-size: 250%;
    margin-bottom: .5em; }
  .category-description p {
    font-size: 120%;
    line-height: 1.25em;
    margin-bottom: .5em; }

h2.subcategory {
  padding: 24px 34px 0;
  font-size: 180%;
  font-weight: bold;
  clear: both; }

ul.products {
  padding: 8px 34px; }
  ul.products li:hover {
    background: transparent url('../images/backcatdisplay.gif') no-repeat; }
  ul.products li {
    border: solid 1px #e4e4e4;
    width: 195px;
    height: 245px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 8px;
    position: relative; }
    ul.products li a {
      color: #000;
      text-decoration: none;
      font-size: 130%; }
    ul.products li .text {
      width: 194px;
      position: absolute;
      bottom: 12px; }

.product {
  background: #f1ece2;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  padding: 24px 36px;
  margin-bottom: 12px;
  position: relative; }
  .product h1 {
    font-size: 250%;
    margin-bottom: .5em; }
  .product p {
    font-size: 120%;
    line-height: 1.25em;
    margin-bottom: .5em; }
  .product h2 {
    font-weight: bold;
    font-size: 130%;
    text-transform: uppercase;
    border-top: solid 1px #000;
    padding-top: 2px; }
  .product .variants {
    background: #fff;
    border: solid 1px #000;
    width: 388px;
    position: relative;
    float: left;
    margin-top: -12px;
    text-align: center; }
    .product .variants .gutter {
      padding: 12px;
      text-align: center; }
    .product .variants h2 {
      border-top: none;
      margin-top: 12px;
      font-size: 150%; }
    .product .variants .enlarge {
      font-weight: bold;
      font-size: 110%;
      text-transform: uppercase;
      background: transparent url('../images/plus.gif') 0 50% no-repeat;
      display: inline-block;
      padding-left: 18px; }
      .product .variants .enlarge a {
        color: #000;
        text-decoration: none; }
    .product .variants .tabs {
      position: absolute;
      top: -28px; }
      .product .variants .tabs li {
        display: inline; }
        .product .variants .tabs li a {
          display: block;
          float: left;
          background: #ebe1ce;
          padding: 6px 12px;
          border: solid 1px #000;
          margin-left: -1px;
          font-size: 110%;
          font-weight: bold;
          text-decoration: none;
          color: #000; }
        .product .variants .tabs li a:hover {
          text-decoration: underline; }
        .product .variants .tabs li a.active {
          background: #fff;
          border-bottom: none;
          padding-bottom: 7px; }
  .product .description {
    margin-left: 420px; }
    .product .description ul {
      margin: 6px 0;
      font-size: 120%; }
  .product .magnification ul {
    margin-top: 8px; }
    .product .magnification ul li {
      background: transparent url('../images/magnification_off.gif') top center no-repeat;
      display: inline-block;
      height: 96px;
      width: 46px;
      padding: 8px;
      padding-top: 12px;
      font-size: 200%;
      color: #fff; }
    .product .magnification ul li.on {
      background: transparent url('../images/magnification_on.gif') top center no-repeat; }

#footer {
  clear: both;
  border-top: solid #000 5px;
  background: #e5e5e5;
  text-align: center; }
  #footer .gutter {
    padding: .1em;
    text-align: center;
    line-height: .6em; }
    #footer .gutter ul {
      margin-left: 1.6em; }
      #footer .gutter ul li {
        padding: 1em .6em 1em .4em;
        float: left; }
        #footer .gutter ul li a {
          color: #646464;
          text-decoration: none;
          border-right: solid 1px #646464;
          padding-right: 1.2em; }
        #footer .gutter ul li a:hover {
          text-decoration: underline; }
      #footer .gutter ul li.last a {
        border-right: none; }
    #footer .gutter p {
      clear: both;
      margin-bottom: 1em;
      color: #646464; }
