<h1>Listing Users</h1>
<span class='add-new-link'><%= link_to "New user", new_user_path %></span>
<table>
  <tr>
    <th colspan='2'>User</th>
    <th class='actions'>Actions</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= user.name %></td>
    <td class='actions'>
      <%= link_to 'Edit', edit_user_path(user) %> |
      <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
