<p>
  Option Family Name: <%= f.text_field :name %>
  Finish Options? <%= f.check_box :is_finish %>
</p>
<div id="customizations">
  <%= render :partial => 'customization', :collection => @option.customizations %>
</div>
<%= add_customization_link "Add a customization" %>