<% form_for :option, :url => category_option_path(@category, @option), :html => { :method => 'put' } do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p><%= submit_tag "Update Options" %></p>
<% end %>