<ul>
  <li><%= link_to "Product Catalog", products_url -%></li>
  <li><%= link_to "Master Categories List", categories_url -%></li>
  <li><%= link_to "Static Pages", pages_url -%></li>
  <li><%= link_to "Administrators", users_url -%></li>
</ul>