<div id="footer" class='noprint'>
  <div class='gutter'>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/categories/6">BACI Mirrors</a></li>
      <li><a href="/categories/7">ECHO Mirrors</a></li>
      <li><a href="/categories/10">PICCOLO Mirrors</a></li>
      <li><a href="/g-9/index.html">BACI Decorative Lighting</a></li>
      <li><a href="/bullets/index.html">Spot/Retro Lighting</a></li>
      <li><a href="/pages/12">Where to Buy</a></li>
      <li><a href="/pages/2">About Remcraft</a></li>
      <li><a href="/pages/14">Contact Us</a></li>
      <li class='last'><a href="http://list-manage.com/subscribe.phtml?id=65a9f32550">Join our Mailing List</a></li>
    </ul>
    <p>&copy;<%= Time.now.year -%>, Remcraft Lighting Products. All Rights Reserved.</p>
  </div>
</div>	
