<div id="footer">
  <div class='gutter'>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/categories/6">BACI Mirrors</a></li>
      <li><a href="/categories/7">ECHO Mirrors</a></li>
      <li><a href="/categories/10">PICCOLO Mirrors</a></li>
      <li><a href="/categories/8">BACI Decorative Lighting</a></li>
      <li><a href="/categories/9">Spot/Retro Lighting</a></li>
      <li><a href="#">Where to Buy</a></li>
      <li><a href="#">About Remcraft</a></li>
      <li><a href="#">Contact Us</a></li>
      <li class='last'><a href="http://list-manage.com/subscribe.phtml?id=65a9f32550">Join our Mailing List</a></li>
    </ul>
    <p>&copy;<%= Time.now.year -%>, Remcraft Lighting Products. All Rights Reserved.</p>
  </div>
</div>	
