<div id="headwrap" class='noprint'>
  <div id="header">
	  <div class='gutter'>
      <a href='/'><%= image_tag 'logo.gif' %></a>		    
	  </div>
    <div id="global-navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="/pages/2" style='border-right: none'>About Remcraft</a></li>
      </ul>
    </div>
	</div>
</div>
