<div id="navigation">
  <div class="mirrors">
    <ul class='gutter'>
      <li><a href="/categories/6">BACI Mirrors</a></li>
      <li><a href="/categories/7">ECHO Mirrors</a></li>
      <li class='last'><a href="/categories/10">PICCOLO Mirrors</a></li>
    </ul>
  </div>

  <div class="lighting">
    <ul class='gutter'>
      <li><a href="/categories/8">BACI Decorative Lighting</a></li>
      <li class='last'><a href="/categories/9">Spot/Retro Lighting</a></li>
    </ul>
  </div>
</div>
