<div id='next-steps'  class='noprint'>
  <div class='gutter'>
    <ul>
      <li><a href='#' onclick="print(); return false;">Print this page</a></li>
      <li><a href='/pages/13'>Where to buy</a></li>
      <%- if @product -%>
      <li><a href='/catalogs/<%= @product.catalog %>'>Download catalog</a></li>
      <%- else -%>
      <li><a href='#'>Request catalog</a></li>
      <%- end -%>
      <li><a href='http://list-manage.com/subscribe.phtml?id=65a9f32550'>Join our mailing list</a></li>
      <li>Got Questions? Call us!<br />(800) 327-6585</li>
    </ul>
  </div>
</div>