<div id='next-steps'>
  <div class='gutter'>
    <ul>
      <li><a href='#'>Print this page</a></li>
      <li><a href='#'>Where to buy</a></li>
      <li><a href='#'>Download catalog</a></li>
      <li><a href='#'>Join our mailing list</a></li>
      <li>Got Questions? Call us!<br />(800) 327-6585</li>
    </ul>
  </div>
</div>