<% content_for :subnavigation do %>
  <%= render :partial => "#{@product.class.to_s.downcase.pluralize}/subnavigation" rescue nil -%>
<% end -%>

<h1>Select Category Customizations Options to Apply to a <%= @product.class %></h1>

<% 
  # This is kinda sketchy... fix it at some point
  if @product.is_a? Variant
    categories = @product.product.categories
  else
    categories = @product.categories
  end
%>
<%= render :partial => 'category', :collection => categories  %>
