<h1>Category Listing</h1>

<span class='add-new-link'><%= link_to "Add new root category", new_category_path %></span>

<div class='sortable-categories'>
<%= category_tree Category, 'sortable', { :controller => 'categories', :action => 'update_positions' } %>
</div>
