<div class='category-description'>
  <h1><%= @category.title %></h1>
  <%= @category.description %> 
</div>


<%= 
  # Migration holder, allows for display of master category related items
  # Shoudl be removed after transition.  
  render :partial => @category %>

<% for category in @category.children.delete_if { |x| x.products.empty? } -%>
<%= render :partial => category %>
<%- end -%>