<ul>
  <li><%= link_to "Details", edit_product_url(@product) %> |</li>
  <li><%= link_to "Images", product_images_url(@product) %> |</li>
  <li><%= link_to "Category Placement", product_placements_url(@product) %></li>
</ul>